# --------------------------------------------------
# TITKOS HELYI KONFIGURÁCIÓ
# --------------------------------------------------

config.local.php


# --------------------------------------------------
# VS CODE HELYI BEÁLLÍTÁSOK
# --------------------------------------------------

.vscode/


# --------------------------------------------------
# WINDOWS / MACOS RENDSZERFÁJLOK
# --------------------------------------------------

Thumbs.db
desktop.ini
.DS_Store


# --------------------------------------------------
# IDEIGLENES ÉS BACKUP FÁJLOK
# --------------------------------------------------

*.tmp
*.temp
*.bak
*.log


# --------------------------------------------------
# EGYÉB HELYI FÁJLOK
# --------------------------------------------------

.env
.env.local